/* ------- HEADER ------- */
/* ------- MAIN------- */
/* hero */
/* benefits */
/* work */
/* team */
/* clients */
/* filter */
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-btn {
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--h-text-color);
  background-color: var(--bgc-filter-team);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: transparent;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  outline: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* cards */
.card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-item {
  width: calc((100% - 60px) / 3);
}
.card-item {
  background-color: var(--white-color);
}

.card-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  outline: transparent;
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-img-wrap {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  background-color: var(--card-overlay-color);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  transform: translateY(0);
}

.card-title {
  color: var(--h-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.card-text {
  color: var(--p-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/* ------- FOOTER ------- */
/* --------SUBSCRIBE FORM------ */






/* --------ORDER FORM--------- */
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--h-text-color);
}

.order-form__name,
.order-coment::placeholder {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.order-form > .subscribe-form__lable {
  display: block;
  margin-bottom: 10px;
}

.order-form__wrap {
  position: relative;
}

.order-form__input,
.order-coment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  outline: transparent;
}

.order-form__input {
  height: 40px;
  padding-left: 42px;
}

.coment-field {
  display: block;
  margin-bottom: 20px;
}

.order-coment {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.subscribe-form__input:focus,
.order-form__input:focus,
.order-coment:focus {
  border-color: var(--acent-color);
}

.order-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.subscribe-form__lable:focus-within > .order-form__icon {
  fill: var(--acent-color);
}

.order-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check-label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid;
  border-color: #212121;
  border-radius: 2px;
}

.check-input:focus + .check-icon {
  border-color: var(--acent-color);
}

.check-input:checked + .check-icon {
  background-color: var(--acent-color);
  border: none;
}

.check-label a {
  color: var(--acent-color);
  margin-left: 5px;
}

.order-form .submit-btn {
  margin-left: auto;
  margin-right: auto;
}

/* ---------MODAL--------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition-property: transform, opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  perspective: 800px;
}

.backdrop.is-hidden {
  transform: scale(0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-delay: var(--transition-duration);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotate(90deg);
  opacity: 0;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.btn-close-icon {
  fill: currentColor;
}

.btn-close:hover,
.btn-close:focus {
  color: var(--acent-color);
}
