/* ! сделать bottom logo ! */
.logo,
.bottom-logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header__logo {
  margin-right: 93px;
}

.logo--blue {
  color: var(--acent-color);
}
