.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-main-fill);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
  outline: transparent;
}

.social__link--bottom {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--acent-color);
  color: var(--white-color);
}
