// первинний
.primary-title {
  width: 696px;
  color: var(--white-color);
  @include titles(900, 44px, 1.36, 0.06em, uppercase, null);
}

.hero__title {
  margin: 0 auto 30px;
}

// вторинний
.secondary-title {
  color: var(--h-text-color);
  @include titles (null, 36px, 1.17, 0.03em, null, center);
}

.work__title,
.team__title,
.clients__title {
  margin-bottom: 50px;
}
// третинний
.tetriary-title {
  color: var(--h-text-color);
  @include titles (null, 14px, 1.14, 0.03em, null, null);
}

.benefits__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
  color: var(--white-color);
  text-transform: uppercase;
}
